alias projects='cd ~/Documents/projects'
alias docs='cd ~/Documents'
alias downloads='cd ~/Downloads'
alias ..='cd ..'
alias exp='xdg-open .'
alias xc='wl-copy'
alias ogls='ls'
alias ls='eza --icons=auto'
alias ltree='eza --icons=auto -T --git-ignore'
alias ogcd='cd'
alias cd='z'
alias cdi='zi'
alias code='codium'
alias obsidian='$HOME/Downloads/SOFTWARE/Obsidian.AppImage --no-sandbox'


